@import "~@/assets/styles/variables";

.lobby-create {
  height: 100%;
  display: flex;

  &__navigation {
    padding: 2vh 2vh 2vh 0;
    position: relative;
    left: 2vh;
    z-index: 1;
    background: linear-gradient(
      to right,
      rgba(#893af4, 0.9),
      rgba(#632ff5, 0.9)
    );

    box-shadow: -0.5vh 0 2vh rgba(black, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: 2vh 0 0 2vh;
  }

  &__navigation-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    transition: all 0.2s ease;
    box-shadow: none;

    &:hover {
      background-color: rgba(white, 0.1);
    }

    &[data-active="true"] {
      background-color: rgba(white, 0.1);
      box-shadow: inset 0 0.1vh 0 rgba(white, 0.1),
        inset 0 -0.1vh 0 rgba(white, 0.1);
      border-left: none;
      border-right: none;
    }

    & * {
      fill: #fff;
      width: 4vh;
      height: 4vh;
    }
  }

  &__body {
    background-color: rgba(#fff, 1);
    width: 45vh;
    box-shadow: -0.5vh 0 2vh rgba(black, 0.45), 1vh 0 2vh rgba(black, 0.1);
    border-radius: 2vh;
    z-index: 2;
    padding: 4vh 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__body-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 4vh;
    padding-right: 1vh;

    &::-webkit-scrollbar {
      width: 1vh;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color__primary;
    }
  }

  &__body-buttons * {
    margin-top: 2vh;

    &:first-child {
      margin-top: 0;
    }
  }

  &__label {
    display: block;
    margin-bottom: 1vh;
    color: #aaa;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.7vh;

    & > span {
      color: $color__primary;
      font-weight: 500;
    }
  }

  &__input-block {
    margin-bottom: 2vh;
  }
}
