@import "~@/assets/styles/variables";

$body__padding: 4vh;

.auth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("~@/assets/images/welcome__background.jpg");
  background-size: cover;
  background-position: center center;
}

.auth {
  display: block;
  width: 45vh;

  & * {
    user-select: none;
  }

  &_agreement {
    width: 70vh;
  }

  &__header {
    padding: 1.5vh 2vh;
    background: linear-gradient(to right, #893af4, #632ff5);
    border-radius: 2vh 2vh 0 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 3vh;
    letter-spacing: 0.2vh;
    text-shadow: 0 0.2vh 0.2vh rgba(black, 0.5);
    box-shadow: 0 -0.5vh 2vh rgba(black, 0.25);
  }

  &__body {
    position: relative;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 0.5vh 2vh rgba(black, 0.5);
    border-radius: 0 0 2vh 2vh;
    padding: $body__padding $body__padding 1vh;
  }

  &__agreement-content {
    height: 50vh;
    overflow-y: scroll;
    padding-right: 1vh;
  }

  &__link {
    font-style: normal;
    position: relative;
    color: $color__primary;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1vh;
      background: linear-gradient(to right, #893af4, #632ff5);
    }
  }

  &__body_agreement {
    border-radius: 2vh;
    padding: $body__padding;

    *::-webkit-scrollbar {
      width: 1vh;
    }

    *::-webkit-scrollbar-thumb {
      background-color: $color__primary;
    }
  }

  &__input-block {
    position: relative;
    margin-bottom: 2vh;
  }

  &__input-block_checkbox {
    padding-top: 2vh;
  }

  &__input-block_button {
    padding-top: 2vh;
    text-align: center;
  }

  &__label {
    color: #ccc;
    font-weight: 400;
    font-size: 2.1vh;
    display: block;
    padding-bottom: 0.5vh;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input-status {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1.2vh;
    height: 1.2vh;
    background-color: #eee;
    border: 0.1vh solid rgba(black, 0.1);
    border-radius: 50%;
    transition: all 0.2s ease;

    &[data-error="true"] {
      background-color: $red;
    }
  }

  &__input-error {
    position: absolute;
    height: 100%;
    top: 0;
    padding: 0 1vh;
    right: calc(#{$body__padding} + 100%);
    opacity: 0;
    white-space: nowrap;
    background-color: #eee;
    color: $red;
    display: flex;
    align-items: center;
    border-left: 0.5vh solid $red;
    border-radius: 0.5vh 0 0 0.5vh;
    z-index: 2;
    box-shadow: -1vh 0.3vh 1vh rgba(black, 0.3);

    &[data-error="true"] {
      opacity: 1;
    }
  }

  &__footer {
    position: relative;
    top: -2vh;
    z-index: 1;
    background: linear-gradient(
      to right,
      rgba(#893af4, 0.9),
      rgba(#632ff5, 0.9)
    );
    box-shadow: 0 0.5vh 2vh rgba(black, 0.25);
    border-radius: 0 0 2vh 2vh;
    padding: 5vh 4vh 2vh;
  }

  &__footer-title {
    text-align: center;
    font-size: 2.7vh;
    text-transform: uppercase;
    letter-spacing: 0.15vh;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0.4vh 0.4vh rgba(black, 0.4);
  }
}
