@import "~@/assets/styles/variables";

.range {
  width: 100%;
  -webkit-appearance: none;
  background-color: #eee;
  border-radius: 10vh;
  height: 1.5vh;
  box-shadow: inset 0 0 1vh rgba(black, 0.05);

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: lighten($color__primary, 20%);
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    box-shadow: inset 0 0 1vh rgba(black, 0.1);
  }
}
