@import "~@/assets/styles/variables";

.input {
  width: 100%;
  border: none;
  border-bottom: 0.1vh solid #eee;
  transition: all 0.2s ease;

  &:focus {
    border-bottom-color: lighten($color__primary, 25%);
  }

  &[data-padding-for-status="true"] {
    padding-right: 2vh;
  }
}
